* {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular";
}

.App {
  text-align: center;
}

.miCities{
  padding: 19px;
}
.mybutton{
  padding: 5px;
}
.Header{
  margin-top: -20px;
}
.Body{
  padding: 5px;
}
.myslider{
height: 50px;
}
.Footer {
  background-color: white;
  width: 100%;
  height: px;
  position: fixed;
  bottom: 0px;
  left: 0;
}
.mynavbar {
  display: flex;
  justify-content: space-around;
}
.mycities{
  margin-bottom: 20px;
}
#filter{
  margin-top: 5px;
  font-size: 20px;
}
.ulnotvisible {
  list-style-type: none;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 30px;
}
.links {
  text-decoration: none;
  color: black;
}
.itinerarybutton {
  text-decoration: none;
  color: black;
  background-color: grey;
}