* {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular";
}
.App {
  text-align: center;
}
.miCities{
  padding: 19px;
}
.mybutton{
  padding: 5px;
}
.Header{
  margin-top: -20px;
}
.Body{
  padding: 5px;
}
.myslider{
height: 50px;
}
.Footer {
  background-color: white;
  width: 100%;
  height: px;
  position: fixed;
  bottom: 0px;
  left: 0;
}
.mycities{
  margin-bottom: 20px;
}
.thefilter{
  margin-top: 5px;
  font-size: 20px;
  padding-left:25px;
  padding-right:25px;
}
.ulnotvisible {
  list-style-type: none;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 30px;
}
.links {
  text-decoration: none;
  color: black;
}
.itinerarybutton {
  text-decoration: none;
  color: black;
  background-color: grey;
}
.picture{
  border-radius: 50%;
  height: 75px;
}
.activity{
  padding-bottom: 20px;
}
.descriptions{
  font-size: 14px;
  font-style: italic;
}
.action{
  height: 35px;
}
.cityname{
  font-size: 30px;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
}