* {
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular";
}

.App {
  text-align: center;
}
.Footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.mynavbar{
  display:flex;
  justify-content: space-around;
}
.ulnotvisible{
  text-align: center;
  list-style-type:none;
}